<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Quản lý cửa hàng</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="stylesheet" type="text/css" href="/css/common.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto" id="my-nav">
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" href="/">Bán hàng sỉ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" href="/reports/products/retail-sales">Bán hàng lẻ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase"
                            href="/reports/products/report-sales-according-to-the-cashier">Bán hàng
                            theo nhân viên thu ngân</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" href="/reports/products/report-general-sales">Bán hàng tổng
                            hợp</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" href="/reports/products/import-export-balance-reports">Cân
                            đối NXT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" href="/reports/products/warehouse-card-report">Thẻ kho</a>
                    </li>
                </ul>

                <div class="dropdown show">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Xin chào admin
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="/sign_out">Thoát</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="custom-container time-input">
        <div class="custom-form-body mt-5">
            {{{body}}}
            </script>
</body>

</html>